@import "tailwindcss";


.hide-scroll {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

.hide-scroll::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}

.hide-scroll::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 10px;
}
